header{
    background-color: black;
    height: 80px;
    padding-top: 16px;
    padding-bottom: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-list{
    display: flex;
    flex-direction: row;
}
.nav-list li{
    margin: 24px;
}
.nav-link{
    color: white;
    text-decoration: none;
}